<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.sheikheddy.obsidian.gdrive.watch</string>
  <key>ProgramArguments</key>
  <array>
    <string>/PATH/TO/deemutils/obsidian_gdrive_watch/watch.sh</string>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>KeepAlive</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/PATH/TO/Logs/obsidian_gdrive_watch.out.log</string>
  <key>StandardErrorPath</key>
  <string>/PATH/TO/Logs/obsidian_gdrive_watch.err.log</string>
</dict>
</plist>
